resources:
- ../../base
namePrefix: prod-
patchesStrategicMerge:
- prod-configmap.yaml
- replica-count.yaml
configMapGenerator:
- literals:
  - TEXT1="Welcome to"
  - TEXT2="Production"
  name: rsvpconfig-prod
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: teamcloudyuga/rsvpapp
  newName: nkhare/rsvpapp
  newTag: 30c024fe6395d69f33716c476f3d048940221122
